body {
  background: #34568b;
  color: white;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 2fr 1fr auto;
      grid-template-rows: 2fr 1fr auto;
      grid-template-areas: "question" "answers" "footer";
}

.window-question, .left-arrow, .right-arrow, .answers, .yes-btn, .part-yes-btn, .no-btn, .desc, .help-show, .finish-test, #save-btn {
  border-radius: 5px;
}

.window-question {
  background: #1c2e4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: question;
}

.current-question {
  background: rgba(53, 79, 126, 0.5);
  font-size: 25px;
}

.question {
  padding: 20px;
  font-size: 24px;
  text-shadow: 0px 2px 2px #000;
  min-height: 200px;
}

.answers {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: answers;
}

.arrows {
  font-weight: bold;
  font-size: 40px;
}

.left-arrow, .right-arrow {
  cursor: pointer;
  background: rgba(53, 79, 126, 0.5);
  padding: 0 15px;
  margin: 10px;
  border: 0;
  color: white;
  font-size: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left-arrow:hover, .right-arrow:hover {
  background: rgba(53, 79, 126, 0.3);
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

.answers {
  background: #1c2e4a;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 50px;
  padding: 50px 0px;
}

.yes-btn, .part-yes-btn, .no-btn {
  border: 0;
  cursor: pointer;
  font-size: 100%;
  color: #333333;
  padding: 5px 50px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@media all and (max-width: 750px) {
  .yes-btn, .part-yes-btn, .no-btn {
    padding: 0px 40px;
    font-size: 50%;
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
  }
}

.yes-btn:hover, .part-yes-btn:hover, .no-btn:hover {
  opacity: 0.7;
  -webkit-transform: translateY(-5px) !important;
          transform: translateY(-5px) !important;
}

.yes-btn {
  background: #21b632;
}

.part-yes-btn {
  background: #FFDC00;
}

.no-btn {
  background: #FF4136;
}

.info-answers {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  background: #1c2e4a;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 300ms, opacity 300ms;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.btn-icon {
  padding: 5px 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.desc {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  height: 100%;
}

.func-buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.help-show, .finish-test {
  margin-left: 15px;
  padding: 25px;
  background: #0c1625;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  font-size: 100%;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.help-show:hover, .finish-test:hover {
  background: #16233d;
}

.help-show {
  float: left;
}

.help-show {
  cursor: default;
}

.finish-test {
  float: right;
  display: none;
  background: #00a9ec;
  border: 0;
  cursor: pointer;
}

.my-dataviz {
  display: none;
}

#save-btn {
  margin-top: 20px;
  color: white;
  max-width: 100px;
  max-height: 50px;
  background: #1a9909;
  border: 0;
  display: none;
  cursor: pointer;
}

#save-btn:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */