$bg-color: #34568b;
$window-bg-color:rgba(53, 79, 126, 0.5);
$hover-window-bg-color:rgba(53, 79, 126, 0.3);

body {
    background: $bg-color;
    color:white;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr auto;
    grid-template-areas: 
    "question"
    "answers"
    "footer";
}

%window-radius {
    border-radius: 5px;
}

.window-question {
    @extend %window-radius; 
    background:#1c2e4a;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: question;
}

.current-question {
    background: $window-bg-color;
    font-size:25px;
}

.question {
    padding:20px;
    font-size:24px;
    text-shadow: 0px 2px 2px #000;
    min-height:200px;
}

.answers {
    grid-area: answers;
}

.arrows {
    font-weight: bold;
    font-size:40px;
}

%arrow-frame {
    @extend %window-radius; 
    cursor:pointer;
    background:$window-bg-color;
    padding:0 15px;
    margin:10px;
    border:0;
    color:white;
    font-size:100%;
    transition: 0.5s;
}

%arrow-frame:hover{
    background:$hover-window-bg-color;
}



.left-arrow {
    @extend %arrow-frame;
    float:left;
}

.right-arrow {
    @extend %arrow-frame;
    float:right;
}


.answers{
    @extend %window-radius;
    background: #1c2e4a;
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
    font-size:50px;
    padding: 50px 0px;
}



%btn-ans{
    @extend %window-radius;
    border:0;
    cursor:pointer;
    font-size:100%;
    color:#333333;
    padding: 5px 50px; 
    transition: transform 0.2s;

}

@media all and (max-width: 750px) {
    %btn-ans{
        padding: 0px 40px;
        font-size:50%;
        flex-basis:20px;
    }

}

%btn-ans:hover{
    opacity:0.7;
    transform: translateY(-5px) !important;
}

.yes-btn{
    @extend %btn-ans;
    background:#21b632; 
}

.part-yes-btn{
    @extend %btn-ans;
    background:#FFDC00; 

}
.no-btn{
    @extend %btn-ans;
    background:#FF4136;
}

.info-answers{
    grid-area: footer;
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

.info {
    display: flex;
    align-items: center;
    background: black;
    background: #1c2e4a;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.btn-icon{
    padding:5px 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.desc {
    @extend %window-radius;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    height:100%;
}

.func-buttons{
    align-self: center;
}

%function-buttons{
    margin-left:15px;
    padding: 25px;
    background: #0c1625;
    align-self: center;
    margin-top: 20px;
    font-size:100%;
    color:white;
    transition: 0.2s;

}

%function-buttons:hover{
    background: #16233d;
}

.help-show{
    @extend %window-radius;
    @extend %function-buttons;
    float:left;
}

.help-show{
    cursor:default;
}


.finish-test{
    @extend %window-radius;
    @extend %function-buttons;
    float:right;
    display: none;
    background: #00a9ec;
    border:0;
    cursor:pointer;
}

.my-dataviz{
    display: none;
}

#save-btn{
    @extend %window-radius;
    margin-top: 20px;
    color:white;
    max-width:100px;
    max-height: 50px;
    background: #1a9909;
    border:0;
    display:none;
    cursor:pointer;
}

#save-btn:hover{
    opacity: 0.5;
}